/.env
/archive
/chat_log.txt
/d2bapp
/data
/__pycache__
/processed
/*.log
/*.pdf
/*.zip
/video_data
/node.js
/c++_data
/postgresql
/mongodb
/typescript
/react_native_data
/california_tax
/blender_data
/aws_s3
/aws_lambda
/aws_sage_maker
/aws_documentdb
/godot
/javascript
/unity_data
/webassembly
/metamate
/env
/first
user_prompt_*.txt
